<h3 class="title"><%= l(:customers_search_for_customers) %></h3>

  <p><%= label_tag 'user_search', l(:customers_label_customer_search) %><%= text_field_tag 'user_search', nil %></p>
  <%= javascript_tag "observeSearchfield('user_search', null, '#{ escape_javascript autocomplete_for_customer_customers_path(:format => 'js')}')" %>

  <div id="users_for_watcher">
    <%= render 'customers/customers_table' %>
  </div>

 <p class="buttons">
    <%= submit_tag l(:button_add), :name => nil, :onclick => "addToHelpdesk(this);" %>
    <%= submit_tag l(:button_cancel), :name => nil, :onclick => "hideModal(this);", :type => 'button' %>
 </p>

 <script type="text/javascript">
 function addToHelpdesk(customers_modal) {
   var customer = $.parseJSON($("input[type='radio']:checked").val());
   $("#customer_id").val(customer.customer_id);
   $("#customer_email").val(customer.customers_email);
   $("#contact_info").val(customer.contact_info);
   $("#issue_assigned_to_id").val(customer.group_id);

   try{
     var options = '';
     var products = eval(customer.customers_products);

     for (var i = 0; i < products.length; i++) {
       options += '<option value="' + products[i]+ '">' + products[i] + '</option>';
     }

     $("#issue_custom_field_values_1").html(options);

     var maintenace = eval(customer.customers_maintenance);
     console.log(maintenace);
     $("#issue_custom_field_values_1").html('<option value="' + maintenance + '">' + maintenance + '</option>');

   }
   catch(err){
     // console.log(err)
   }


   hideModal(customers_modal);
 }


 </script>
