<table width="100%" id="customer_table">
  <thead>
    <tr>
      <th></th>
      <th><%= l(:customers_number) %></th>

      <th><%= l(:field_customer_name) %></th>
      <th><%= l(:field_email_short) %></th>
      <% CustomerCustomField.where(visible:true).each do |cf| %>

            <th><%= cf.name %></th>

      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @customers.each_with_index do |customer, index|
         products = customer.visible_custom_field_values.detect {|cfv| cfv.custom_field.name == 'Products'}
         maintenance = customer.visible_custom_field_values.detect {|cfv| cfv.custom_field.name == 'Active Maintenance'}
    %>
      <tr class="<%= cycle("odd", "even") %>">
        <td><%= radio_button_tag "customer_radio", "{ \"customer_id\" :"+customer.id.to_json + ", \"contact_info\" :"+customer.customer_name.to_json + ", \"customers_email\" :"+customer.email.to_json +  ", \"customers_products\" :"+products.value.to_json +  ", \"customers_maintenance\" :"+maintenance.value.to_json +  " }", nil , :id => nil %></td>
        <td><%= index + 1 %></td>
        <td><%= customer.customer_name %></td>
        <td><%= customer.email %></td>
        <% customer.visible_custom_field_values.each_with_index do |value| %>
              <td><%= value  %>	</td>
        <% end %>
        <!-- -->
      </tr>
    <% end %>
  </tbody>
</table>
<script type="text/javascript">
//this javascript is rendered after form, so that's why it works!
$("tr").not(':first').hover(
  function () {
    $(this).css("background","yellow");
  },
  function () {
    $(this).css("background","");
  }
);


$("customer_table").click(function(e){
    alert("clicked");
       var Elem = e.target;
       if (Elem.nodeName=='tr'){
//$("tr").click(function(){
    $(this).find("input").prop("checked", true).trigger("click");
    $(this).parent().find("tr").css("font-weight","normal");
    $(this).css("font-weight","bold");
    return false;
}});

</script>
