<%= error_messages_for 'customer' %>

<div id="customers_form">
	<div class="splitcontent">
		<fieldset class="box tabular">
			 <legend><%=l(:label_information_plural)%></legend>
			 <p><%= f.text_field :customer_name, :required => true, :size => 25, :label => l(:customers_customer_name) %></p>
			 <p><%= f.text_field :phone, :required => true, :size => 25, :label => l(:customers_tel_number) %></p>
			 <p><%= f.text_field :email, :required => true, :size => 25, :label => l(:customers_email_id) %></p>
			 <p><%= f.select :group_id, options_for_select(Group.active.pluck(:lastname, :id)), include_blank: true %></p>
		</fieldset>
		<fieldset class="box tabular">
			<legend><%=t(:label_custom_field)%></legend>
		<% if @customer.safe_attribute? 'custom_field_values' %>
				<%= render :partial => 'customers/form_custom_fields' %>
		<% end %>
		</fieldset>
	</div>
</div>
<div style="clear:left;"></div>