<div class="contextual">
<%= link_to l(:customers_customer_details), customer_path(@customer), :class => 'icon icon-user' %>
<%= delete_link customer_path(@customer) %>
</div>

<%= title [l(:customers_customer_plural), customers_path], @customer.customer_name %>

<%= labelled_form_for @customer, :url => {:controller => 'customers', :action => 'update'}  do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <%= submit_tag l(:button_update) %>
<% end %>


<%= link_to l(:customers_show), @customer %> |
<%= link_to l(:customers_all_customers), customers_path %>