<% html_title t(:customers_import_label) -%>
<%= title [l(:customers_customer_plural), customers_path], l(:customers_import_label) %>
<%= form_tag({:action => 'match'}, {:multipart => true}) do %>
	<p><label><%=t(:customers_label_customer_upload_notice)%></label><br/>
	<%= file_field_tag 'file', :size => 60%></p>

	<fieldset class="box"><legend><%= t(:customers_customer_upload_format) %></legend>
		 <p><label><%=t(:customers_customer_upload_encoding)%></label>
		<%= select_tag "encoding", "<option value=\"UTF-8\">UTF8</option><option value=\"EUC-JP\">EUC</option><option value=\"Shift_JIS\">SJIS</option><option value=\"N\">None</option>".html_safe %></p>
		
		<p><label><%=t(:customers_customer_upload_splitter)%></label>
		<%= text_field_tag "splitter", ',', {:size => 3, :maxlength => 1}%></p>
		
		<p><label><%=t(:customers_customer_upload_wrapper)%></label>
		<%= text_field_tag "wrapper", '"', {:size => 3, :maxlength => 1}%></p>
		
	</fieldset>

	<%= submit_tag t(:customers_customer_upload) %>
<% end %>